.full {
    height: 100%;
    background: #0f3854;
    background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
    background-size: 100%;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.d-flex {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.flex-grow {
    flex-grow:1;
}